body{
    background: #030a0a;
}

.navbar{
    background: #49c9c9;
    box-shadow: 2px 2px 4px #051616;
}

main{
    color: #49c9c9;
}

main .container_main .card{
    width: 200px;
    height: 400px;
}

.container_not_found{
    margin: 100px;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #fff, -5px -5px 10px;
    cursor: pointer;

}

.container_not_found .content{
    text-align: center;
}